<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.google.unity.ads" android:versionName="1.0" android:versionCode="1">
  <application>
    <uses-library android:required="false" android:name="org.apache.http.legacy" />
    <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-2838363966752041~1148265133" />
    <meta-data android:name="com.google.unity.ads.UNITY_VERSION" android:value="2022.3.20f1" />
  </application>
  <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
</manifest>